@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@100;300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}
@theme {
  --color-primary: #06C167; 
  --color-secondary: #1D1D1F;
}
.btn{
  @apply bg-blue-400 p-4 text-white text-[0.9375rem] cursor-pointer rounded-md shadow-md shadow-current;
}
.card{
  @apply bg-[#F0F1EC] p-8 flex flex-col justify-between space-y-4;
}